.box-header {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 5rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: left;
  background-size: cover;
}

.box-header .block-logo {
  margin: 0;
  padding-top: 50px;
}

.box-header .block-menu-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  position: fixed;
  z-index: 9;
  right: 0;
  top: 0;
  margin-right: 260px;
  margin-top: 65px;
  font-size: 30px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

.box-header .block-menu-button .menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  position: fixed;
  z-index: 9;
  right: 0;
  top: 0;
  margin-right: 260px;
  margin-top: 65px;
  font-size: 30px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

.box-header .block-menu-button .block-menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  position: fixed;
  z-index: 9;
  right: 0;
  top: 0;
  margin-right: 200px;
  margin-top: 65px;
  width: 40px;
  height: 40px;
}

.box-header .block-menu-button .block-menu .menu-global {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  left: 0;
  border-top: 4px solid #fff;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.box-header .block-menu-button .block-menu .menu-top {
  top: 0;
}

.box-header .block-menu-button .block-menu .menu-middle {
  top: 18px;
}

.box-header .block-menu-button .block-menu .menu-bottom {
  top: 36px;
}

.box-header .block-menu-button .block-menu .menu-top-click {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  top: 15px;
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.box-header .block-menu-button .block-menu .menu-middle-click {
  opacity: 0;
}

.box-header .block-menu-button .block-menu .menu-bottom-click {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  top: 15px;
  -webkit-transform: rotate(-410deg);
          transform: rotate(-410deg);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.box-header .block-menu-navigation {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(#f7920e, #f7600e);
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  z-index: 3;
  bottom: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.box-header .block-menu-navigation.active {
  bottom: 0;
}

.box-header .block-menu-navigation .block-content .content-menu {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0px;
}

.box-header .block-menu-navigation .block-content .content-menu .list-menu .link {
  display: block;
  position: relative;
  padding: 12.85px 20px;
  font-size: 40px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-decoration: none;
}

.section-content {
  background-image: url("../images/background_top.png");
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.section-content .content-title {
  padding: 185px 150px 0;
  color: #fff;
  text-align: center;
}

.section-content .content-title .title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  letter-spacing: 6px;
  text-align: center;
  margin-bottom: 0;
}

.section-content .content-title .title span {
  color: #f7600e;
}

.section-content .content-title .text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 55px;
}

.section-content .content-title .block-readmore {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-align: center;
}

.section-content .content-title .block-readmore .block-orange {
  background-color: #f7600e;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  border-radius: 8px;
  padding: 11px 0;
  border: 1px solid #f7600e;
  margin: 16px;
  width: 136px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.section-content .content-title .block-readmore .block-orange:hover {
  background-color: #3f444a;
  border: 1px solid #fff;
}

.section-content .content-title .block-readmore .block-work {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  width: 136px;
  border-radius: 8px;
  padding: 11px 0;
  border: 1px solid #fff;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.section-content .content-title .block-readmore .block-work:hover {
  color: #3b434c;
  border: 1px solid #3b434c;
  background-color: #fff;
}

.section-content .content-title .content-scroll {
  display: block;
  margin-top: 160px;
  padding-bottom: 45px;
  text-align: center;
}

.section-content .content-title .content-scroll span {
  color: #fff;
  font-size: 20px;
  -webkit-animation: blink 1.5s infinite;
          animation: blink 1.5s infinite;
  padding: 9px 11px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.section-service {
  padding: 100px 0;
}

.section-service .block-service {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 15px;
}

.section-service .block-service:hover {
  text-decoration: none;
  -webkit-box-shadow: 0 15px 25px -7px rgba(0, 0, 0, 0.09), 0 -12px 10px -10px rgba(0, 0, 0, 0.04);
          box-shadow: 0 15px 25px -7px rgba(0, 0, 0, 0.09), 0 -12px 10px -10px rgba(0, 0, 0, 0.04);
}

.section-service .block-service .service-item {
  text-align: center;
}

.section-service .block-service .service-item .service-content .title {
  font-size: 16px;
  text-align: center;
  letter-spacing: 2px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  padding: 30px 0;
  margin-bottom: 0;
}

.section-service .block-service .service-item .service-content .title .link {
  color: #3b434c;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.section-service .block-service .service-item .service-content .title .link:hover {
  color: #f7600e;
}

.section-service .block-service .service-item .service-content .text {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 27px;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #3b434c;
  text-align: center;
}

.section-banner {
  background-image: url("../images/background_banner.png");
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.section-banner .banner-form {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-banner .banner-form .text-input {
  width: 500px;
  height: 50px;
  border-radius: 10px;
  display: block;
  font-size: 16px;
  background: #fff;
  border-color: #fff;
  margin-right: 15px;
  outline: none;
  color: #5e5e5e;
  text-align: left;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding-left: 15px;
  font-family: 'Open Sans', sans-serif;
}

.section-banner .banner-form .block-orange {
  color: #fff;
  background-color: #f7600e;
  border: 1px solid #f7600e;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 10px;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
}

.section-banner .banner-form .block-orange:hover {
  background-color: #3f444a;
  border: 1px solid #fff;
}

.section-works {
  padding: 100px 0;
}

.section-works .works-title {
  padding-bottom: 100px;
  text-align: center;
}

.section-works .works-title .title {
  font-size: 35px;
  letter-spacing: 5px;
  color: #3b434c;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  margin-bottom: 0;
  padding-bottom: 30px;
}

.section-works .works-title .title span {
  color: #f7600e;
}

.section-works .works-title .text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin-bottom: 0;
  letter-spacing: 1px;
  color: #3b434c;
}

.section-works .block-work {
  padding-bottom: 30px;
  padding-left: 15px;
}

.section-works .block-work .works-item {
  position: relative;
}

.section-works .block-work .works-item .work-img .link .image {
  width: 100%;
}

.section-works .block-work .works-item .work-content {
  opacity: 0;
  position: absolute;
  top: 0;
  background: #ec6014;
  padding: 100px 0;
  border-radius: 10px;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.section-works .block-work .works-item .work-content .content-title {
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0;
  padding-bottom: 25px;
  text-align: center;
}

.section-works .block-work .works-item .work-content .content-text {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 16px;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  color: #fff;
  text-align: center;
  padding: 0 50px;
  letter-spacing: 1px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 0;
}

.section-works .block-work .works-item .work-content .block-show {
  text-align: center;
  margin-top: 40px;
}

.section-works .block-work .works-item .work-content .block-show .button-show {
  padding: 20px 45px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #f7600e;
  color: #fff;
  border: 1px solid #fff;
  text-decoration: none;
}

.section-works .block-work .works-item .work-content .block-show .button-show:hover {
  color: #f7600e;
  background: #fff;
  border: 1px solid #fff;
}

.section-works .block-work .works-item:hover > .work-content {
  opacity: 0.9;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.section-works .block-more {
  text-align: center;
  margin-top: 50px;
}

.section-works .block-more .button-more {
  font-size: 16px;
  padding: 20px 50px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #3b434c;
  border: 1px solid #3b434c;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-decoration: none;
}

.section-works .block-more .button-more:hover {
  color: #fff;
  background: #f7600e;
  border: 1px solid #fff;
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
  .box-header .block-menu-button .menu {
    margin-right: 110px;
  }
  .box-header .block-menu-button .block-menu {
    margin-right: 50px;
  }
  .section-content .content-title .title {
    font-size: 70px;
  }
  .section-content .content-title .text {
    font-size: 24px;
  }
  .section-content .content-title .content-scroll {
    margin-top: 80px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .box-header .block-logo {
    padding-top: 30px;
  }
  .box-header .block-menu-button .menu {
    margin-right: 120px;
    margin-top: 30px;
  }
  .box-header .block-menu-button .block-menu {
    margin-right: 50px;
    margin-top: 30px;
    width: 40px;
    height: 40px;
  }
  .section-content .content-title {
    padding: 50px 50px 0;
    padding-top: 80px;
  }
  .section-content .content-title .title {
    font-size: 50px;
  }
  .section-content .content-title .text {
    font-size: 22px;
  }
  .section-content .content-title .content-scroll {
    margin-top: 60px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .box-header .block-logo {
    font-size: 25px;
    padding-top: 20px;
  }
  .box-header .block-menu-button .menu {
    margin-right: 60px;
    margin-top: 23px;
    font-size: 22px;
  }
  .box-header .block-menu-button .block-menu {
    margin-right: 20px;
    margin-top: 15px;
    width: 30px;
    height: 30px;
  }
  .section-content .content-title {
    padding: 50px 40px 0;
    padding-top: 80px;
  }
  .section-content .content-title .title {
    font-size: 40px;
  }
  .section-content .content-title .text {
    font-size: 16px;
  }
  .section-content .content-title .content-scroll {
    margin-top: 60px;
  }
  .section-banner .banner-form .text-input {
    width: 170px;
    padding: 10px;
    margin-right: 5px;
    font-size: 14px;
  }
  .section-banner .banner-form .block-orange {
    padding: 7px;
    font-size: 14px;
  }
}
/*# sourceMappingURL=style.css.map */